/*

Button's 

*/
button.add-item{
	margin-top:5px;
}


/*

Other

*/

.list-item{
	padding: 1em;
	background-color: #ddd;
	text-align: center;
	margin: 0.5em;
}
.list-item:hover{
	cursor: pointer;
}

.add-item{
	text-align: center;
}
input{
	padding-left: 1em;
	margin-top:0.5em;
}
.add-item-container > span { 
	float:right;
}